<!DOCTYPE html>
<html>
<head>
    {include file="public::top"}
</head>
<body>

<style>
    .layui-input-inline {
        width: 450px !important;
    }
    .edui-default .edui-editor{
        position:unset !important;
        z-index: 1000!important;
    }
    .xm-select-dl{
        z-index: 999999999!important;
    }
</style>
<link rel="stylesheet" href="/static/layui/formSelects/formSelects-v4.css"/>

<form class="layui-form form-item" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">医院名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" value="{$hospital_data.name}" lay-verify="required" autocomplete="off" placeholder="请输入医院名称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">简介</label>
        <div class="layui-input-inline">
            <textarea type="text" name="summary" style="min-height:70px " autocomplete="off" placeholder="" class="layui-input">{$hospital_data.summary}</textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">科室</label>
        <div class="layui-input-inline">
            <select name="departments" id="departments"
                    xm-select="select1">
                <option value=""></option>
                {volist name="departments" id="vo"}
                <option value="{$vo.id}" {if condition="in_array($vo.id,$hospital_data['departments'])"}selected{/if}>{$vo.name}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">标签</label>
        <div class="layui-input-inline">
            <select name="tags" id="deptId"
                    xm-select="select2">
                {volist name="tags" id="vo"}
                <option value="{$vo}"  {if condition="in_array($vo,$hospital_data['tags'])"}selected{/if}>{$vo}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">详细介绍</label>
        <div class="layui-input-inline">
            <script id="editor" name="basic" type="text/plain" placeholder="详细介绍">{$hospital_data.basic|raw}</script>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">医院图片</label>
        <div class="layui-input-inline">
            <div class="layui-upload-drag" id="test10">
                <img src="{$hospital_data.img}" style="width: 100%;height: 100%;">
            </div>
            <input type="hidden" name="img" id="avatar" value="{$hospital_data.img}" lay-verify="required">
        </div>
    </div>
    <input type="hidden" name="id" value="{$hospital_data.id}">
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

{include file="public::bottom"}
<script src="/static/layui/formSelects/formSelects-v4.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.all.min.js"> </script>
<script>
    var ue = UE.getEditor('editor');
    layui.use(['form','upload'], function(){
        var form = layui.form
            ,upload=layui.upload
            ,layer = layui.layer;

        //拖拽上传
        upload.render({
            elem: '#test10'
            ,url: '/admin/Hospital/upload' //改成您自己的上传接口
            ,accept:'image'
            ,done: function(res){
                layer.msg('上传成功');
                $('#test10').html('<img src="'+res.data.src+'" style="width: 100%;height: 100%;">');
                $('#avatar').val(res.data.src);
            }
        });
        //监听提交
        form.on('submit(demo1)', function(data){
            $.post("/admin/Hospital/edit", data.field, function (data) {
                if(data.code == 200){
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index);
                    window.parent.location.reload();
                }
                layer.msg(data.msg,{time:2000});
            });
            return false;
        });

    });
</script>

</body>
</html>