<!DOCTYPE html>
<html>
<head>
    {include file="public::top"}
</head>
<body>

<style>
    .layui-input-inline {
        width: 450px !important;
    }
</style>

<form class="layui-form form-item" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">科室名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入科室名称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">简介</label>
        <div class="layui-input-inline">
            <textarea type="text" name="summary" style="min-height:70px " autocomplete="off" placeholder="" class="layui-input"></textarea>
        </div>
    </div>

    <div class="layui-form-item" style="margin-top: 100px!important;">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

{include file="public::bottom"}
<script>
    layui.use(['form','upload'], function(){
        var form = layui.form
            ,upload=layui.upload
            ,layer = layui.layer;

        //监听提交
        form.on('submit(demo1)', function(data){
            $.post("/admin/Department/add", data.field, function (data) {
                if(data.code == 200){
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index);
                    window.parent.location.reload();
                }
                layer.msg(data.msg,{time:2000});
            });
            return false;
        });
    });
</script>

</body>
</html>