<div id="footer">
    <p><span class="ellipsis">{$config.copyright}</span> </p>
</div>
<div id="shares"><a href="http://service.weibo.com/share/share.php?" target="_blank" id="sweibo"> <i
        class="fa fa-weibo"></i> </a> <a href="javascript:;" id="sweixin"> <i class="fa fa-mobile"></i> </a> <a
        href="javascript:;" id="gotop"> <i class="fa fa-angle-up"></i> </a></div>
<div class="fixed" id="fixed_weixin">
    <div class="fixed-container">
        <div id="qrcode"></div>
        <p>扫描二维码分享到微信</p>
    </div>
</div>
<div id="online_open"><i class="fa fa-comments-o"></i></div>
<div id="online_lx">
    <div id="olx_head">在线咨询 <i class="fa fa-times fr" id="online_close"></i></div>
    <ul id="olx_qq">
        <li><a href="tencent://message/?uin={$config.qq}&Site=qq&Menu=yes"> <i class="fa fa-qq"></i>{$config.qq} </a></li>
    </ul>
    <div id="olx_tel">
        <div><i class="fa fa-phone"></i>联系电话</div>
        <p> {$config.phone}<br/>
        </p>
    </div>
</div>
<script>
    $('.searchSub').on('click',function(){
        var url=window.location.pathname;
        var search=$('#search_content').val();
        console.log('search',search);
        console.log('url',url);
        location.href=url+'?search='+search;
    })
</script>