<div id="footer">
    <p><span class="ellipsis">{$config.copyright} </span></p>
</div>
<nav id="menu">
    <ul>
        <li><a {if condition="$menu_id == 1"}class="active"{/if} href="/" target="_self">首页</a></li>
        <li>
            {notempty name="course_type"}
            <a {if condition="$menu_id == 2"}class="active"{/if} href="javascript:;" target="_self"> <span
                data-title="课程体系">课程体系</span> <i class="fa fa-angle-down"></i></a>
            <ul class="subnav">
                <li><a href='/index/Course/index' target="_self">全部</a></li>
                {volist name="course_type" id="vo"}
                <li><a href='/index/Course/index?type_id={$vo.id}' target="_self">{$vo.title}</a></li>
                {/volist}
            </ul>
            {else}
            <a {if condition="$menu_id == 2"}class="active"{/if} href="/index/Course/index" target="_self"> <span
                data-title="课程体系">课程体系</span></a>
            {/notempty}
        </li>
        <li><a {if condition="$menu_id == 3"}class="active"{/if} href="/index/FreeLive/index" target="_self">免费直播课</a></li>
        <li><a {if condition="$menu_id == 4"}class="active"{/if} href="/index/Strength/index"  target="_self">实力保证</a></li>
        <li>
            {notempty name="course_type"}
            <a {if condition="$menu_id == 5"}class="active"{/if} href="javascript:;" target="_self"> <span
                data-title="名师堂">名师堂</span> <i class="fa fa-angle-down"></i></a>
            <ul class="subnav">
                <li><a href='/index/Teacher/index' target="_self">全部</a></li>
                {volist name="teach_class" id="vo"}
                <li><a href='/index/Teacher/index?class_id={$vo.id}' target="_self">{$vo.title}</a></li>
                {/volist}
            </ul>
            {else}
            <a {if condition="$menu_id == 5"}class="active"{/if} href="/index/Teacher/index" target="_self"> <span
                data-title="名师堂">名师堂</span></a>
            {/notempty}
        </li>
        <li><a {if condition="$menu_id == 6"}class="active"{/if} href="javascript:;" target="_self">关于我们</a>
            <ul class="subnav">
                <li><a href="/index/About/index" target="_self">关于机构</a></li>
                <li><a href="/index/About/news_list" target="_self">新闻</a></li>
            </ul>
        </li>
        <li><a {if condition="$menu_id == 7"}class="active"{/if} href="/index/Index/free_study" target="_self">免费学</a></li>
        <li><a {if condition="$menu_id ==8"}class="active"{/if} href="/index/Index/contact" target="_self">联系我们</a></li>
    </ul>
</nav>