<div class="Fixed" id="header"><a class="mm-hbtn" href="#menu">
    <div class="lcbody">
        <div class="lcitem top">
            <div class="rect top"></div>
        </div>
        <div class="lcitem bottom">
            <div class="rect bottom"></div>
        </div>
    </div>
</a> <a class="mm-hlogo" href="/"> <img src="{$config.logo}"/> </a>

    <div class="searchBtn">
        <i aria-hidden="true" class="fa fa-search"></i>
    </div>
    <div class="search-input-wrap">
        <input autocomplete="off" class="header-search-input" id="search_content" placeholder="要查找的关键词" type="search">
    </div>
</div>