<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<title>{$config.title}</title>
<meta name="keywords" content="{$config.keyword}">
<meta name="description" content="{$config.description}">
<link href="/web/m/skin/css/lib.css" rel="stylesheet" type="text/css">
<link href="/web/m/skin/css/style.css" rel="stylesheet" type="text/css">
<link href="/web/m/skin/css/desmo.8390.css" rel="stylesheet" type="text/css">
<link href="/web/m/skin/css/wgreen.css" rel="stylesheet" type="text/css">
<link href="/web/m/skin/css/8390.css" rel="stylesheet" type="text/css">

<!--<link rel="stylesheet" type="text/css" href="/web/skin/css/style.8390.css">-->

<!--[if lt IE 9]>
<script type="text/javascript" src="/web/m/skin/script/jquery-1.8.3.min.js"></script><![endif]-->
<!--[if (!IE)|(gte IE 11)]><!-->
<script src="/web/m/skin/script/jquery-1.9.1.min.js" type="text/javascript"></script>
<!--<![endif]-->
<script data-main="indexMain" src="/web/m/skin/script/mmen.js" type="text/javascript"></script>
<script src="/web/m/skin/script/script.js" type="text/javascript"></script>

<style>::-webkit-scrollbar {
    background-color: initial;
}
</style>