<!DOCTYPE html>
<html>
<head>
    {include file="public::top"}
</head>
<body>
<style>
    .layui-input-inline {
        width: 450px !important;
    }
</style>
<form class="layui-form form-item" action="">
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 100px">名称</label>
        <div class="layui-input-inline">
            <input type="text" name="title" autocomplete="off" lay-verify="required" placeholder="名称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 100px">使用场景</label>
        <div class="layui-input-inline">
            <input type="text" name="scenes" autocomplete="off" lay-verify="required" placeholder="使用场景" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 100px">简介</label>
        <div class="layui-input-inline">
            <textarea id="demo" name="summary" style="width: 450px;min-height: 60px"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 100px">金额</label>
        <div class="layui-input-inline">
            <input type="text" name="amount" autocomplete="off" lay-verify="required|number" placeholder="金额" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 100px">满减</label>
        <div class="layui-input-inline">
            <input type="text" name="limit" autocomplete="off" lay-verify="required|number" placeholder="金额" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 100px">失效时间</label>
        <div class="layui-input-inline">
            <input type="text" id="deadline" autocomplete="off" name="deadline" lay-verify="required|date" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 100px">自动生成多少张</label>
        <div class="layui-input-inline">
            <input type="text" name="num" value="5" autocomplete="off" lay-verify="required" placeholder="请输入数量" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            <span id="ddd" class="hidden"></span>
        </div>
    </div>
</form>

{include file="public::bottom"}
<script>
    layui.use(['form','layedit','laydate'], function(){
        var form = layui.form
            ,layedit=layui.layedit
            ,laydate=layui.laydate
            ,layer = layui.layer;

        laydate.render({
            elem: '#deadline',
            trigger: "click"
        });
        //监听提交
        form.on('submit(demo1)', function(data){
            $.post("/admin/Coupon/add", data.field, function (data) {
                if(data.code == 200){
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index);
                    window.parent.location.reload();
                }
                layer.msg(data.msg,{time:2000});
            });
            return false;
        });
    });
</script>

</body>
</html>