<!DOCTYPE html>
<html>
<head>
    {include file="public::top"}
</head>
<body>

<style>
    .layui-input-inline {
        width: 400px !important;
    }
</style>
<form class="layui-form form-item" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">服务名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" value="{$service.name}" lay-verify="required" autocomplete="off" placeholder="请输入服务名称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">价格</label>
        <div class="layui-input-inline">
            <input type="text" name="price" value="{$service.price}" lay-verify="required|number" autocomplete="off" placeholder="请输入价格" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">简介</label>
        <div class="layui-input-inline">
            <textarea type="text" name="summary" style="min-height:70px " autocomplete="off" placeholder="" class="layui-input">{$service.summary}</textarea>
        </div>
<!--        <div class="layui-input-inline">-->
<!--            <select name="role_id" lay-verify="required">-->
<!--                <option>请选择所属角色</option>-->

<!--            </select>-->
<!--        </div>-->
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">基本详情</label>
        <div class="layui-input-inline">
            <script id="editor" name="basic" type="text/plain" placeholder="基本详情">{$service.basic|raw}</script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">价格详情</label>
        <div class="layui-input-inline">
            <script id="editor1" name="priceDescription" type="text/plain" placeholder="价格详情">{$service.priceDescription|raw}</script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">预约通知</label>
        <div class="layui-input-inline">
            <script id="editor2" name="reservation" type="text/plain" placeholder="预约通知">{$service.reservation|raw}</script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">服务图标</label>
        <div class="layui-input-inline">
            <div class="layui-upload-drag" id="test10">
                {if condition="$service.img"}
                <img src="{$service.img}" style="width: 100%;height: 100%;">
                {else /}
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                {/if}
            </div>
            <input type="hidden" name="img" id="avatar" value="{$service.img}" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">服务详情页背景图</label>
        <div class="layui-input-inline">
            <div class="layui-upload-drag" id="test11">
                {if condition="$service.detailImg"}
                <img src="{$service.detailImg}" style="width: 100%;height: 100%;">
                {else /}
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                {/if}
            </div>
            <input type="hidden" name="detailImg" id="avatar1" value="{$service.detailImg}" lay-verify="required">
        </div>
    </div>

    <input type="hidden" name="id" value="{$service.id}">
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

{include file="public::bottom"}
<script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.all.min.js"> </script>
<script>
    var ue = UE.getEditor('editor');
    var ue = UE.getEditor('editor1');
    var ue = UE.getEditor('editor2');
    layui.use(['form','upload'], function(){
        var form = layui.form
            ,upload=layui.upload
            ,layer = layui.layer;

        //拖拽上传
        upload.render({
            elem: '#test10'
            ,url: '/admin/HospitalService/upload' //改成您自己的上传接口
            ,accept:'image'
            ,done: function(res){
                layer.msg('上传成功');
                $('#test10').html('<img src="'+res.data.src+'" style="width: 100%;height: 100%;">');
                $('#avatar').val(res.data.src);
            }
        });
        upload.render({
            elem: '#test11'
            ,url: '/admin/HospitalService/upload' //改成您自己的上传接口
            ,accept:'image'
            ,done: function(res){
                layer.msg('上传成功');
                $('#test11').html('<img src="'+res.data.src+'" style="width: 100%;height: 100%;">');
                $('#avatar1').val(res.data.src);
            }
        });
        //监听提交
        form.on('submit(demo1)', function(data){
            $.post("/admin/HospitalService/edit", data.field, function (data) {
                if(data.code == 200){
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index);
                    window.parent.location.reload();
                }
                layer.msg(data.msg,{time:2000});
            });
            return false;
        });

    });
</script>

</body>
</html>