<!DOCTYPE html>
<html>
<head>
    {include file="public::top"}
    <script type="text/javascript" src="/web/skin/script/org.js" data-main="indexMain"></script>
    <style>
        .pagination{
            display: flex;
            justify-content: center;
        }
        .pagination li{
            padding: 10px 14px;
            font-size: 14px;
            background-color: #F5F5F5;
            color: black;
        }
        .pagination li.active{
            background-color: #57bc4c;
            color: white;
        }
        .pagination li.disabled{
            background-color: #FBFBFB;
            color:#C9C9C9;
        }
    </style>
</head>
<body id="longPage" class="gh0  longPage  bodylist bodyservice cn">

{include file="public::head"}

<div id="sitecontent" class="ff_sitecontent">

    <div class="npagePage ff_pageList">
        <div id="banner">
            <div style="background-image:url({$image.img_src});"></div>
        </div>
        <div id="pageTarget" class="ff_pageTarget module">
            <div class="module_container">
                <div class="container_header wow hide">
                    <p class="title">实力保证</p>
                    <p class="subtitle">知名精英人士倾力推荐</p>
                </div>
                <div class="container_target wow">您的位置：<a href='/'>首页</a><i
                        class="fa fa-angle-right"></i><a href='/index/Strength/index'>实力保证</a></div>
                <div class="container_category wow movedx" data-movedx-mid="2" data-movedx-distance="15"></div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="content">
            <div class="mlist service module ff_noSlider"
                 style="
   ">
                <div class="bgmask"></div>
                <div class="module_container">
                    <div class="container_content nocat">
                        <div class="content_wrapper">
                            <div class="content_list clearfix">
                                {volist name="strength_list" id="vo"}
                                <div id="item_block_{$key}" class="item_block_{$key} item_block wow" style="animation-delay:.{$key}s">
                                    <a href="/index/Strength/detail?id={$vo.id}" class="item_box">
                                        <div href="/index/Strength/detail?id={$vo.id}" class="item_img" target="_blank"><img
                                                src="{$vo.img_src}"/>
                                            <div class="item_mask"></div>
                                        </div>
                                        <div class="item_wrapper clearfix">
                                            <div class="item_info clearfix">
                                                <p class="title ellipsis">{$vo.title}</p>
                                            </div>
                                            <div class="item_des">
                                                <p class="description">{$vo.desc}</p>
                                            </div>
                                            <span href="/index/Strength/detail?id={$vo.id}" class="details hide"> MORE<i
                                                    class="fa fa-angle-right" aria-hidden="true"></i> </span></div>
                                    </a> <a href="/index/Strength/detail?id={$vo.id}" class="details"> MORE<i class="fa fa-angle-right"
                                                                                   aria-hidden="true"></i> </a>
                                    <div class="item_tags clearfix"><i class="fa fa-tags"></i></div>
                                </div>
                                {/volist}
                            </div>
                        </div>
                        {$page|raw}
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

{include file="public::bottom"}

</body>
</html>