<!DOCTYPE html>
<html>
<head>
    <title>{$detail.title}-{$config.title}</title>
    <meta name="keywords" content="$detail.title}-{$config.keyword}">
    <meta name="description" content="$detail.title}-{$config.description}">
    {include file="public::top"}
    <script type="text/javascript" src="/web/skin/script/org.js" data-main="indexMain"></script>
</head>
<body id="longPage" class="gh0  longPage  bodylistpost bodyproject cn">

{include file="public::head"}

<div id="sitecontent" class="ff_sitecontent">

    <div class="npagePage post ff_postPage">
        <div id="pageTarget" class="ff_pageTarget module">
            <div class="module_container">
                <div class="container_target wow">您的位置：<a href='/'>首页</a><i
                        class="fa fa-angle-right"></i><a href='/index/Course/index'>课程体系</a><i
                        class="fa fa-angle-right"></i><a href='/index/Course/index?type_id={$detail.type_id}'>{$detail.title}</a></div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="content">
            <div class="mlistpost project module">
                <div class="module_container">
                    <div class="container_content">
                        <div class="content_wrapper">
                            <div id="postWrapper">
                                <div id="postSlider" class="postSlider mlist">
                                    <div class="tab_content">
                                        <div class="item_block item_block_0 " style="width: 100%;">
                                            <div class="wrapper">
                                                <div class="item_img"><img src="{$detail.img_src}" style="width: 480px;"/></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="postContent">
                                    <div class="postInfo">
                                        <div class="mainInfor">
                                            <p class="title">{$detail.title}</p>
                                        </div>
                                        <div class="description"><p>{$detail.desc}</p>
                                            <p><br></p></div>
                                    </div>
                                    <div class="postbody">
                                        {$detail.content|raw}
                                    </div>
                                    <div class="conTabBtn tabBtn">
                                        {if condition="$prev_data"}
                                        <a href='/index/Course/detail?id={$prev_data.id}' class="post-prev">
                                        <div class="img-wrap">
                                            <div style="background-image: url({$prev_data.img_src})"></div>
                                            <img src="{$prev_data.img_src}"></div>
                                        <div class="infor-wrap"><span class="title">{$prev_data.title}</span>
                                            {if condition="$prev_data.speaker"}
                                            <span class="subtitle">主讲：{$prev_data.speaker}</span>
                                            {/if}
                                        </div>
                                        <i class="details"></i>
                                        <div class="tabMask"></div>
                                    </a>
                                        {else / }
                                        <a href="javascript:;" class="post-prev empty">
                                            <div class="img-wrap"></div>
                                            <div class="infor-wrap"><span class="title"></span><span
                                                    class="subtitle"></span></div>
                                            <i class="details"></i>
                                            <div class="tabMask"></div>
                                        </a>
                                        {/if}
                                        {if condition="$next_data"}
                                        <a href='/index/Course/detail?id={$next_data.id}' class="post-next">
                                            <div class="img-wrap">
                                                <div style="background-image: url({$next_data.img_src})"></div>
                                                <img src="{$next_data.img_src}"></div>
                                            <div class="infor-wrap"><span class="title">{$next_data.title}</span>
                                                {if condition="$next_data.speaker"}
                                                <span class="subtitle">主讲：{$next_data.speaker}</span>
                                                {/if}
                                            </div>
                                            <i class="details"></i>
                                            <div class="tabMask"></div>
                                        </a>
                                        {else /}
                                        <a href="javascript:;" class="post-next empty">
                                            <div class="img-wrap"></div>
                                            <div class="infor-wrap"><span class="title"></span><span
                                                    class="subtitle"></span></div>
                                            <i class="details"></i>
                                            <div class="tabMask"></div>
                                        </a>
                                        {/if}
                                    </div>
                                </div>
                                {notempty name="hot_course_list"}
                                <div class="listWrap">
                                    <div id="listContent" class="listContent_post">
                                        <h3>热门课程</h3>
                                        <div class="mlist type04">
                                            <div class="content_wrapper">
                                                <div class="content_list clearfix">
                                                    {volist name="hot_course_list" id="vo"}
                                                    <div id="item_block_{$key}" class="item_block_{$key} item_block wow"
                                                         style="animation-delay:.{$key}s"><a href="/index/Course/detail?id={$vo.id}" class="item_box">
                                                        <div href="/index/Course/detail?id={$vo.id}" class="item_img"
                                                             target="_blank"><img
                                                                src="{$vo.img_src}"/>
                                                            <div class="item_mask"></div>
                                                        </div>
                                                        <div class="item_wrapper clearfix">
                                                            <div class="item_info clearfix">
                                                                <p class="title ellipsis">{$vo.title}</p>
                                                            </div>
                                                            <div class="item_des">
                                                                <p class="description">{$vo.desc}</p>
                                                            </div>
                                                        </div>
                                                    </a></div>
                                                    {/volist}
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                {/notempty}
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public::bottom"}

</body>
</html>