<!DOCTYPE html>
<html>
<head>
    {include file="public::top"}
    <script type="text/javascript" src="/web/skin/script/org.js" data-main="baseMain"></script>
    <style>
        .pagination{
            display: flex;
            justify-content: center;
        }
        .pagination li{
            padding: 10px 14px;
            font-size: 14px;
            background-color: #F5F5F5;
            color: black;
        }
        .pagination li.active{
            background-color: #57bc4c;
            color: white;
        }
        .pagination li.disabled{
            background-color: #FBFBFB;
            color:#C9C9C9;
        }
    </style>
</head>
<body id="longPage" class="gh0  longPage  bodylist bodyproject cn">

{include file="public::head"}

<div id="sitecontent" class="ff_sitecontent">

    <div class="npagePage ff_pageList">
        <div id="pageTarget" class="ff_pageTarget module">
            <div class="module_container">
                <div class="container_target wow">您的位置：
                    <a href='/'>首页</a><i
                        class="fa fa-angle-right"></i><a href='/index/Course/index'>课程体系</a>
                    {if condition="$type_id != ''"}
                    <i class="fa fa-angle-right"></i><a href='/index/Course/index?type_id={$type_id}'>{$type_title}</a>
                    {/if}
                </div>

                <div class="container_category wow movedx" data-movedx-mid="2" data-movedx-distance="15">
                    <a href="/index/Course/index" {if condition="!$type_id || $type_id == ''"}class="active"{/if}>
                        <span>全部</span>
                    </a>
                    {volist name="course_type" id="vo"}
                    <a href="/index/Course/index?type_id={$vo.id}" {if condition="$type_id == $vo['id']"}class="active"{/if}>
                       <span>{$vo.title}</span>
                    </a>
                    {/volist}
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="content">
            <div class="mlist project module ff_noSlider"
                 style="
   ">
                <div class="bgmask"></div>
                <div class="module_container">
                    <div class="container_content">
                        <div class="content_wrapper">
                            <div class="content_list clearfix">
                                {volist name="course_list" id="vo"}
                                <div id="item_block_{$key}" class="item_block_{$key} item_block wow" style="animation-delay:.{$key}s">
                                    <a href="/index/Course/detail?id={$vo.id}" class="item_box">
                                        <div class="item_img" ><img
                                                src="{$vo.img_src}"/>
                                            <div class="item_mask"></div>
                                        </div>
                                        <div class="item_wrapper clearfix">
                                            <div class="item_info clearfix">
                                                <p class="title ellipsis">{$vo.title}</p>
                                            </div>
                                            <div class="item_des">
                                                <p class="description">{$vo.desc}</p>
                                            </div>
                                            <span  class="details hide"> MORE<i
                                                    class="fa fa-angle-right" aria-hidden="true"></i> </span></div>
                                    </a> <a href="/index/Course/detail?id={$vo.id}" class="details"> MORE<i class="fa fa-angle-right"
                                                                                        aria-hidden="true"></i> </a>
                                    {if condition="$vo.speaker"}
                                    <div class="item_tags clearfix"><i class="fa fa-tags"></i>
                                        <a href="/index/Course/detail?id={$vo.id}">
                                        主讲：{$vo.speaker}
                                        </a>
                                    </div>
                                    {/if}
                                </div>
                                {/volist}
                            </div>
                        </div>
                         {$page|raw}
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

{include file="public::bottom"}

</body>
</html>