<!DOCTYPE html>
<html>
<head>
    {include file="public::top"}
    <style>
        body{
            width: 97%;
            padding-left: 20px;
        }
        .role_node{
            color: rgba(0,0,0,.85);
            margin: 0 5px 0 0;
            padding: 0 7px;
            font-size: 12px;
            line-height: 20px;
            white-space: nowrap;
            background: #fafafa;
            border: 1px solid #d9d9d9;
            border-radius: 2px;display: inline-block;
        }
        .show_user_img{
            display: inline-block;
            width: 50%;
            height: 100%;
            cursor: pointer;
        }
         .layui-input-inline {
             width: 850px !important;
         }
        .edui-default .edui-editor{
            position:unset !important;
        }
        .layui-form-select dl{z-index: 1000;}
    </style>
</head>
<body>
<div style="margin-top: 10px;">
    <span class="layui-breadcrumb">
      <a href="javascript:;" class="menu_link" menu_link="/admin/Carousel/index" menu_id="2">首页轮播图</a>
    </span>
</div>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 15px;">
    <legend>首页轮播图</legend>
</fieldset>

<form class="layui-form form-item" action="">

    <div class="layui-form-item">
        <label class="layui-form-label">图片1</label>
        <div class="layui-input-inline">
            <div class="layui-upload-drag test-img" id="test1">
                {if condition="$setting.img1"}
                    <img src="{$setting.img1}" style="width: 100%;height: 100%;">
                {else /}
                    <i class="layui-icon"></i>
                    <p>点击上传，或将文件拖拽到此处</p>
                {/if}
            </div>

            <input type="hidden" value="{$setting.img1}" name="img1" id="img1"  >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图片2</label>
        <div class="layui-input-inline">
            <div class="layui-upload-drag test-img" id="test2">
                {if condition="$setting.img2"}
                <img src="{$setting.img2}" style="width: 100%;height: 100%;">
                {else /}
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                {/if}
            </div>
            <input type="hidden" value="{$setting.img2}" name="img2" id="img2"  >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图片3</label>
        <div class="layui-input-inline">
            <div class="layui-upload-drag test-img" id="test3">
                {if condition="$setting.img3"}
                <img src="{$setting.img3}" style="width: 100%;height: 100%;">
                {else /}
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                {/if}
            </div>
            <input type="hidden" value="{$setting.img3}" name="img3" id="img3"  >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图片4</label>
        <div class="layui-input-inline">
            <div class="layui-upload-drag test-img" id="test4">
                {if condition="$setting.img4"}
                <img src="{$setting.img4}" style="width: 100%;height: 100%;">
                {else /}
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                {/if}
            </div>
            <input type="hidden" value="{$setting.img4}" name="img4" id="img4"  >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图片5</label>
        <div class="layui-input-inline">
            <div class="layui-upload-drag test-img" id="test5">
                {if condition="$setting.img5"}
                <img src="{$setting.img5}" style="width: 100%;height: 100%;">
                {else /}
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                {/if}
            </div>
            <input type="hidden" value="{$setting.img5}" name="img5" id="img5"  >
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

{include file="public::bottom"}

<script>
    layui.use(['form','upload','layedit','laydate'], function(){
            var form = layui.form
                ,upload=layui.upload
                ,layer = layui.layer;

            //拖拽上传
            upload.render({
                elem: '#test1'
                ,url: '/admin/Hospital/upload' //改成您自己的上传接口
                ,accept:'image'
                ,done: function(res){
                    console.log($(this));
                    layer.msg('上传成功');
                    $('#test1').html('<img src="'+res.data.src+'" style="width: 100%;height: 100%;">');
                    $('#img1').val(res.data.src);
                }
            });
        upload.render({
            elem: '#test2'
            ,url: '/admin/Hospital/upload' //改成您自己的上传接口
            ,accept:'image'
            ,done: function(res){
                console.log($(this));
                layer.msg('上传成功');
                $('#test2').html('<img src="'+res.data.src+'" style="width: 100%;height: 100%;">');
                $('#img2').val(res.data.src);
            }
        });
        upload.render({
            elem: '#test3'
            ,url: '/admin/Hospital/upload' //改成您自己的上传接口
            ,accept:'image'
            ,done: function(res){
                console.log($(this));
                layer.msg('上传成功');
                $('#test3').html('<img src="'+res.data.src+'" style="width: 100%;height: 100%;">');
                $('#img3').val(res.data.src);
            }
        });
        upload.render({
            elem: '#test4'
            ,url: '/admin/Hospital/upload' //改成您自己的上传接口
            ,accept:'image'
            ,done: function(res){
                console.log($(this));
                layer.msg('上传成功');
                $('#test4').html('<img src="'+res.data.src+'" style="width: 100%;height: 100%;">');
                $('#img4').val(res.data.src);
            }
        });
        upload.render({
            elem: '#test5'
            ,url: '/admin/Hospital/upload' //改成您自己的上传接口
            ,accept:'image'
            ,done: function(res){
                console.log($(this));
                layer.msg('上传成功');
                $('#test5').html('<img src="'+res.data.src+'" style="width: 100%;height: 100%;">');
                $('#img5').val(res.data.src);
            }
        });

        //监听提交
        form.on('submit(demo1)', function(data){
            console.log(data)
            $.post("/admin/Carousel/index", data.field, function (data) {
                layer.msg(data.msg,{time:2000});
            });
            return false;
        });
    });


</script>


</body>
</html>