<!doctype html>
<html class="agent-mobile  theme-w theme-wgreen">
<head>
    {include file="public::m_top"}
</head>
<body>
<div id="bodymask"></div>
<div id="sitecontent" style="overflow:hidden;">

    {include file="public::m_head"}

    <div class="content indexPage">
        <div class="mm-head"></div>
        <div id="mm-slider">
            <ul class="slider">
                {volist name="banner_list" id="vo"}
                <li><a href="/index/Course/index" target="_blank">
                    <div class="slider-img"><img src="{$vo.img_src}"/></div>
                    <div class="slider-info">
                        <p class="title"></p>
                    </div>
                </a></li>
                {/volist}
            </ul>
        </div>

        <!--广告部分 开始 如需删除从此段开始往下到-->
        <div class="mlist ad01 module">
            <div class="bgmask"></div>
            <div class="m_container">
                <div class="content">
                    <div class="wrapper">
                        <ul class="content_list">
                            <!--小广告 开始-->
                            {volist name="image_list" id="vo"}
                            <li class="item_block wow " id="item_block_{$key}" style="animation-delay:.{$key}s"><a
                                    class="item_img" href="/index/Course/index" target="_blank"> <img
                                    src="{$vo.img_src}"/> </a>
                                <div class="item_wrapper clearfix"></div>
                            </li>
                            {/volist}
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!--广告部分 结束 到此段结束！-->

        <div class="mlist project module">
            <div class="bgmask"></div>
            <div class="m_container">
                <div class="container_header wow animated "><p class="title">课程体系</p>
                    <p class="subtitle">直播授课 / 1对1批改 / 及时答疑 / 无限回放</p></div>
                <div class="content">
                    <div class="wrapper">
                        <ul class="content_list clearfix">
                            {volist name="course_list" id="vo"}
                            <li class="item_block wow" id="item_block_{$key}"><a class="item_box"
                                                                            href="/index/FreeLive/detail?id={$vo.id}">
                                <div class="item_img" target="_blank"><img
                                        src="{$vo.img_src}"/>
                                    <div class="item_mask"></div>
                                </div>
                                <div class="item_wrapper clearfix">
                                    <div class="item_info clearfix">
                                        <div class="text_wrap">
                                            <p class="title ellipsis">{$vo.title}</p>
                                            <p class="subtitle ellipsis"></p>
                                        </div>
                                    </div>
                                    <div class="item_des">
                                        <p class="description">{$vo.desc}</p>
                                    </div>
                                </div>
                            </a></li>
                            {/volist}

                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="mlist videom module">
            <div class="bgmask"></div>
            <div class="m_container">
                <div class="container_header wow animated "><p class="title">免费直播课</p>
                    <p class="subtitle">激发用户的学习需求，帮助用户唤启更好的自己</p></div>
                <div class="content">
                    <div class="wrapper">
                        <ul class="content_list clearfix">
                            {volist name="free_live" id="vo"}
                            <li class="item_block wow" id="item_block_{$key}"><a class="video-box item_box"
                                                                            data-href="{$vo.live_src}"
                                                                            href="{$vo.live_src}">
                                <div class="item_img" href="{$vo.live_src}" target="_blank"><img
                                        src="{$vo.img_src}"/>
                                    <div class="item_mask"></div>
                                </div>
                                <div class="item_wrapper clearfix">
                                    <div class="item_info clearfix">
                                        <div class="text_wrap">
                                            <p class="title ellipsis">{$vo.title} </p>
                                            {if condition="$vo.speaker"}
                                            <p class="subtitle ellipsis">主讲：{$vo.speaker}</p>
                                            {/if}
                                        </div>
                                    </div>
                                    <div class="item_des description">
                                        <p>{$vo.desc}</p>
                                        <p><br/>
                                        </p>
                                    </div>
                                </div>
                            </a></li>
                            {/volist}


                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="mlist service module">
            <div class="bgmask"></div>
            <div class="m_container">
                <div class="container_header wow animated "><p class="title">实力保证</p>
                    <p class="subtitle">知名精英人士倾力推荐</p></div>
                <div class="content">
                    <div class="wrapper">
                        <ul class="content_list clearfix ser-slider">
                            {volist name="strength" id="vo"}
                            <li class="item_block wow" id="item_block_{$key}"><a class="item_box"
                                                                            href="/index/Strength/detail?id={$vo.id}">
                                <div class="item_img" href="/index/Strength/detail?id={$vo.id}" target="_blank"><img
                                        src="{$vo.img_src}"/>
                                    <div class="item_mask"></div>
                                </div>
                                <div class="item_wrapper clearfix">
                                    <div class="item_info clearfix">
                                        <p class="title ellipsis">{$vo.title}</p>
                                        <p class="subtitle ellipsis"></p>
                                    </div>
                                    <div class="item_des">
                                        <p class="description">{$vo.desc}</p>
                                    </div>
                                </div>
                            </a></li>
                            {/volist}
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="mcustomize module bgShow bgParallax horizontal tril"
             style=" background-image:url(/web/skin/pic/1523930363536.png);">
            <div class="bgmask"></div>
            <div class="module_container">
                <div class="container_content">
                    <div class="contentbody">
                        <div class="wrapper">
<!--                            <div class="header wow">-->
<!--                                <p class="title">为什么选择优学教育？</p>-->
<!--                            </div>-->
<!--                            <div class="description wow">-->
                                {$config.reason|raw}
<!--                                <p style="line-height: 2em;"><span style="font-size: 14px;"></span></p>-->
<!--                                <p>除全球外教外，更有中国数学奥林匹克金牌教练领队，打造高效的数学在线课堂英语+数学，</p>-->
<!--                                <p>口语、考分双提升</p>-->
<!--                                <p style="line-height: 2em;"><span style="font-size: 14px;"></span><br/>-->
<!--                                </p>-->
<!--                                <p style="line-height: 3em;">◎ &nbsp; 全球英语外教获TESOL/TEFL认证，并有数学金牌教练；</p>-->
<!--                                <p style="line-height: 3em;">◎ &nbsp; 根据孩子年龄、水平、学习需求，量身定制最适合内容。</p>-->
<!--                                <p style="line-height: 3em;">◎ &nbsp; 特级教师金荣生领衔</p>-->
<!--                                <p style="line-height: 3em;">◎ &nbsp; 2000+套标准课件搭配个性化动态课程体系，层层递进上升</p>-->
<!--                                <p style="line-height: 3em;">◎ &nbsp; 2016年度最具影响力外语培训品牌</p>-->
<!--                                <p><br/>-->
<!--                                </p>-->
<!--                                <p><a href="list%EF%B9%96tid=6.php" target="_blank" textvalue="免费领取体验课" title="MORE">免费领取体验课</a><br/>-->
<!--                                </p>-->
<!--                            </div>-->
                        </div>
                    </div>
                    <div class="mediabody wow"><a href="/index/About/index" target="_blank"><img
                            src="/web/skin/pic/1523608567921.png"/></a></div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="mlist team module">
            <div class="bgmask"></div>
            <div class="m_container">
                <div class="container_header wow animated "><p class="title">名师堂</p>
                    <p class="subtitle">知名精英人士名师团队</p></div>
                <div class="content">
                    <div class="wrapper">
                        <ul class="content_list clearfix">
                            {volist name="teach_list" id="vo"}
                            <li class="item_block wow" id="item_block_{$key}"><a class="item_box"
                                                                            href="/index/Teacher/detail?id={$vo.id}">
                                <div class="item_img" href="/index/Teacher/detail?id={$vo.id}" target="_blank"><img
                                        src="{$vo.img_src}"/>
                                    <div class="item_mask"></div>
                                </div>
                                <div class="item_wrapper clearfix">
                                    <div class="item_info clearfix">
                                        <div class="text_wrap">
                                            <p class="title ellipsis">{$vo.title}</p>
                                            <p class="subtitle ellipsis">{$vo.post}</p>
                                        </div>
                                    </div>
                                    <div class="item_des description">
                                        {$vo.desc}
                                    </div>
                                </div>
                            </a></li>
                            {/volist}

                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="mcounter module bgShow" style=" background-image:url({$spread.img_src});">
            <div class="bgmask"></div>
            <div class="module_container">
                <div class="container_content">
                    <ul class="content_list">
                        <li>
                            <div>
                                <p class="number"><span class="counterDX" data-counter-value="{$config.grad_num}">{$config.grad_num}</span><span
                                        class="unit">+</span></p>
                                <p class="title">已结业付费学员</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="number"><span class="counterDX" data-counter-value="{$config.everywhere}">{$config.everywhere}</span><span
                                        class="unit">+</span></p>
                                <p class="title">遍布国家及省级市区</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="number"><span class="counterDX" data-counter-value="{$config.quality_num}">{$config.quality_num}</span><span
                                        class="unit">+</span></p>
                                <p class="title">优质精英教师</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="number"><span class="counterDX" data-counter-value="{$config.pure_num}">{$config.pure_num}</span><span
                                        class="unit">%</span></p>
                                <p class="title">纯名师教育</p>
                            </div>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="mlist news module">
            <div class="bgmask"></div>
            <div class="m_container">
                <div class="container_header wow animated "><p class="title">新闻</p>
                    <p class="subtitle">News</p></div>
                <div class="content">
                    <div class="wrapper">
                        <ul class="content_list clearfix">
                            {volist name="news_list" id="vo"}
                            <li class="item_block wow" id="item_block_{$key}"><a class="item_box"
                                                                            href="/index/About/detail?id={$vo.id}">
                                <div class="item_img" href="/index/About/detail?id={$vo.id}" target="_blank"><img
                                        src="{$vo.img_src}"/>
                                    <div class="item_mask"></div>
                                </div>
                                <div class="item_wrapper clearfix">
                                    <div class="item_info clearfix">
                                        <p class="title ellipsis">{$vo.title}</p>
                                        <p class="subtitle ellipsis"></p>
                                    </div>
                                    <p class="date_wrap"><span class="year">{$vo.year}</span> <span class="md">{$vo.month}-{$vo.day}</span>
                                    </p>
                                    <div class="item_des">
                                        <p class="description">{$vo.desc}</p>
                                    </div>
                                </div>
                            </a></li>
                            {/volist}

                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <!--战略合作 开始 如需删除从此段开始往下到-->
        <div class="mlist imagelink module">
            <div class="bgmask"></div>
            <div class="m_container">
                <div class="container_header wow animated "><p class="title">战略合作</p>
                    <p class="subtitle">与{$config.cooper_num}家机构进行战略合作</p></div>
                <div class="content">
                    <div class="wrapper">
                        <ul class="content_list" style="width:960px">
                            {volist name="cooper_list" id="vo"}
                            <li class="item_block wow" id="item_block_{$key}" style="animation-delay:.{$key}s"><a class="item_img"
                                                                                                        href="/index/Index/cooper_detail?id={$vo.id}"
                                                                                                        target="_blank"
                                                                                                        title="Cinder">
                                <img src="{$vo.img_src}"/> </a></li>
                            {/volist}

                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!--战略合作 结束 到此段结束！-->

        <div class="mlist module" id="mcontact">
            <div class="container_header">
                <p class="title">免费试听课程</p>
                <p class="subtitle">课程顾问为您服务,与全球1000万会员一起提高学习掌握技能</p>
            </div>
            <div class="contactlist plr10">
                <div class="contactinfo">
                    <h3 class="name">{$config.company}</h3>
                    <p class="add">{if condition="$config.address"}<span>地址：</span>{$config.address}{/if}</p>
                    <p class="zip">{if condition="$config.post_code"}<span>邮编：</span>{$config.post_code}{/if}</p>
                    <p class="tel">{if condition="$config.phone"}<span>电话：</span><a href='tel:{$config.phone}'>{$config.phone}</a>{/if}</p>
                    <p class="mobile">{if condition="$config.telphone"}<span>手机：</span><a href='tel:{$config.telphone}'>{$config.telphone}</a>{/if}</p>
                    <p class="fax">{if condition="$config.fax"}<span>传真：</span>{$config.fax}{/if}</p>
                    <p class="email">{if condition="$config.email"}<span>邮箱：</span>{$config.email}{/if}</p>
                    <div class="share_app"><a class="fl" href="http://weibo.com/" target="_blank"><i
                            class="fa fa-weibo"></i></a><a class="fl"
                                                           href="mqqwpa://im/chat?chat_type=wpa&uin={$config.qq}&version=1&src_type=web&web_src=qq.com"
                                                           target="_blank"><i class="fa fa-qq"></i></a> <a class="fl"
                                                                                                           href="{$config.wechat_qrcode}"
                                                                                                           id="mpbtn"
                                                                                                           target="_blank"><i
                            class="fa fa-weixin"></i></a></div>
                </div>
            </div>
            <div class="contactform" id="contactform">
<!--               <div style="position: relative;z-index: 1;padding-top: 40px;padding-bottom: 100px;padding: 212px 100px 80px 100px;border-radius: 8px;background: #fff;">       <input name="action" type="hidden" value="post"/>-->

                    <p class="contactform_name">
                        <input autocomplete="off" class="inputtxt" name="name" placeholder="姓名" type="text"/>
                    </p>
                    <p class="contactform_eml">
                        <input autocomplete="off" class="inputtxt" name="email" placeholder="邮箱" type="text"/>
                    </p>
                    <p class="contactform_tel">
                        <input autocomplete="off" class="inputtxt" name="telphone" placeholder="电话" type="text"/>
                    </p>
                    <p class="contactform_content">
                        <textarea autocomplete="off" class="inputtxt" name="remark" placeholder="内容"></textarea>
                    </p>
                    <p class="contactform_submit">
                        <input class="inputtxt submit" id="submit_free" type="submit" value="提交"/>
                    </p>
<!--               </div>-->
            </div>
        </div>
        <!--联系-->
    </div>
    {include file="public::m_footer"}

</div>
{include file="public::m_bottom"}
<script src="/web/skin/layer/layer.js"></script>
<script>
    $('#submit_free').on('click',function(){
        var name=$('#name').val();
        var email=$('#email').val();
        var telphone=$('#telphone').val();
        var remark=$('#remark').val();
        console.log('name',name);
        if(!name || name == ''){
            layer.msg('姓名不能为空',{time:2000});
        }else  if(!email || email == ''){
            layer.msg('邮件不能为空',{time:2000});
        }else  if(!telphone || telphone == ''){
            layer.msg('电话不能为空',{time:2000});
        }else  if(!remark || remark == ''){
            layer.msg('内容不能为空',{time:2000});
        }else {
            $.ajax({
                url: "/index/Index/free_study",
                data: {'name': name, 'email': email, 'telphone': telphone, 'remark': remark},
                dataType: "json",
                success: function (data) {
                    if (data.code == 200) {
                        $("#contactform").find("input,textarea").each(function () {
                            $(this).val("")
                        });
                    }
                    layer.msg(data.msg, {time: 2000});
                },
                error: function () {
                    layer.msg('程序错误', {time: 2000});
                }
            })
        }
    });
</script>
</body>
</html>