<!DOCTYPE html>
<html>
<head>
    {include file="public::top"}
    <style>
        .layui-form-label{
            width: 100px;
        }
    </style>
</head>
<body>

<form class="layui-form form-item" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">实力保证标题</label>
        <div class="layui-input-inline">
            <input type="text" name="title" value="{$strength_data.title}" lay-verify="required" autocomplete="off" placeholder="请输入实力保证标题" class="layui-input">
        </div>
        <label class="layui-form-label">序号</label>
        <div class="layui-input-inline">
            <input type="number" name="sort" min="0" value="{$strength_data.sort}"  step="1" autocomplete="off" placeholder="请输入序号，默认从大到小" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图片</label>
        <div class="layui-input-inline">
            <div class="layui-upload-drag" id="test10">
                <img src="{$strength_data.img_src}" style="width: 100%;height: 100%;">
            </div>
            <input type="hidden" name="img_src" id="img_src" value="{$strength_data.img_src}" lay-verify="required">
        </div>
        <label class="layui-form-label">实力保证简介</label>
        <div class="layui-input-inline">
            <input type="text" name="desc" lay-verify="required" style="width: 250px;" value="{$strength_data.desc}" autocomplete="off" placeholder="请输入实力保证简介" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-block" style="width: 600px;margin-left: 130px;">
            <script id="editor" name="content" lay-verify="required" type="text/plain" placeholder="请输入内容">{$strength_data.content|raw}</script>
<!--            <textarea id="demo" name="content" lay-verify="content" style="display: none;">{$strength_data.content}</textarea>-->
        </div>
    </div>
    <input type="hidden" name="id" value="{$strength_data.id}">
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

{include file="public::bottom"}
<script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.all.min.js"> </script>
<script>
    var ue = UE.getEditor('editor');
    layui.use(['form','upload','layedit'], function(){
        var form = layui.form
            ,upload=layui.upload
            ,layedit=layui.layedit
            ,layer = layui.layer;

        // layedit.set({
        //     uploadImage: {
        //         url: '/admin/Website/upload?folder=strength'
        //     }
        // });
        // var detail=layedit.build('demo');
        //
        // form.verify({
        //     content: function(value) {
        //         layedit.sync(detail);
        //     }
        // });

        //拖拽上传
        upload.render({
            elem: '#test10'
            ,url: '/admin/Website/upload?folder=strength' //改成您自己的上传接口
            ,accept:'image'
            ,done: function(res){
                layer.msg('上传成功');
                $('#test10').html('<img src="'+res.data.src+'" style="width: 100%;height: 100%;">');
                $('#img_src').val(res.data.src);
            }
        });

        //监听提交
        form.on('submit(demo1)', function(data){
            $.post("/admin/Strength/edit", data.field, function (data) {
                if(data.code == 200){
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index);
                    window.parent.location.reload();
                }
                layer.msg(data.msg,{time:2000});
            });
            return false;
        });
    });
</script>

</body>
</html>